/* CSS Variables */
:root {
    --clr-primary: #9c5526;
    --clr-bg: #54331d;
    --clr-neutral: #ede7e3;
    --clr-black: hsla(30, 4%, 20%, 0.8);
    --clr-neutral75: hsl(24, 22%, 91%, 0.75);
}

/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Header Styles */
body {
    font-family: 'Open Sans', sans-serif;
    color: var(--clr-black);
    line-height: 1.5;
    background-image: 
        linear-gradient(
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)
        ),
        url("../images/coffee.jpeg");

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

h1, 
h3, 
h4 {
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    line-height: 1.2;
}

h1 {
    font-size: 2.488rem;
}

h3 {
    font-size: 1.728rem;
}

h4 {
    font-size: 1.44rem;
}

header {
    color: var(--clr-neutral);
    text-align: center;
    padding: 1rem 0;
}

#established {
        color: var(--clr-neutral75);
    }

/* Main Styles */
main {
    background-color: var(--clr-neutral);
    width: 80%;
    max-width: 800px;
    margin: 0 auto;
    padding: 1rem 2rem;
}

main h3, 
main h4 {
    color: var(--clr-primary);
    margin-bottom: 1rem;
}

main h4 {
    text-align: center;
}

#about, 
#menu {
    margin-bottom: 1rem;
}

/* About Section */

#about p {
    margin-bottom: 0.5rem;
}
#about li {
    list-style-type: none;
    background-image: url("../images/logo.png");
    background-repeat: no-repeat;
    background-size: 1em 1em;
    padding-left: 1.5em;
    background-position: 0 0.3em;
}

/* Menu Section */
hr {
    height: 3px;
}

.item {
    display: flex;
    flex-direction: row;
}

.item p {
    display: inline-block;
}


.title {
    width: 75%;
    text-align: left;
}

.price {
    width: 25%;
    text-align: right;
}

/* Location and Hours Section */
#location div {
    text-align: center;
}
#location iframe {
    width: 360px;
    height: 270px;
    border: 0;
    margin-bottom: 1rem;
}

a {
    color: var(--clr-primary);
    text-decoration: none;
    border-bottom: 2px solid transparent;
}
a:hover,
a:active {
    border-bottom-color: var(--clr-primary);
}

/* Footer Section */
footer {
    background-color: var(--clr-bg);
    color: var(--clr-neutral);
    font-size: 0.833rem;
    text-align: center;
    padding: 1rem 0;
    margin-top: 2rem;
}